@mixin card($padding, $display) {
  padding: $padding;
  display: $display;
  height: auto;
}

/* THE CARD */
.card {
  @include card(var(--default-space_2), grid);
  width: 100%;
  margin: 0 auto;

  &__image {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
  }
  img {
    height: 100%;
    width: 100%;
  }

  &.service {
    background-color: var(--soften__baseColor);
  }

  &.news {
    background-color: #fff;
  }

  .news {
    &__title {
      font-size: 1.25rem;
      color: var(--baseColor);
      font-weight: 700;
      margin-bottom: 8px;
    }
    &__caption {
      margin-bottom: 8px;
      text-align: justify;
    }
    &__date {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: bold;

      i {
        margin-right: 5px;
        font-size: 1rem;
      }
    }
  }
}
